@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    display: grid;
    place-items: center;
}

.card {
    background-color: #00a8db;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 45rem;
    height: 37rem;
    padding: 4rem;
    margin-top: 73px;
    border-radius: 57px;

}

.card2 {
    background-color: #00a8db;
    color: black;
    display: flex;
    width: 100%;
    max-width: 65rem;
    height: 33rem;
    border-radius: 50px;
    padding: 15px;
    align-items: center;
    flex-wrap: wrap;
}
.titulo{
    width: 100%;
}
.container {
    background-color: #007092;
    padding: 15px;
    max-width: 800px;
    height: 800px;
    display: flex;
    justify-content: space-around;
}

.div1 {

    width: 50%;
    padding: 15px;
    background-color: #00a8db;


}

h1 {
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #00a8db;
    justify-content: center;

}

.novo {
    font-weight: bold;
    text-align: left;
    font-size: 40px;
}

h2 {
    font-weight: unset;
    color: white;
    font-size: 25px;
}

input {
    font-size: medium;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    transition: 0.15s linear;
    padding: 20px;
    background-color: #007092;
    border-radius: 10px;
}

input:focus {
    outline: none;
    border-color: #8d3dc8;
}

label {
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    color: white;
    align-self: flex-start;
    transition: 0.15s linear;
}

label:-moz-focusring {
    color: white;
}

a {
    font-size: 17px;
    background-color: #00a8db;
    color: #001c24;
    width: fit-content;
}

a:hover {
    color: #001c24;
}

button {
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    color: white;
    background-color: #001c24;
    border-radius: 10px;
}

.cadastro1 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border-radius: 5px !important;
    width: 100%;
    border: none;
    padding: 20px;
    background-color: #001c24;
}

/*
button:focus{
    outline: none;
    background: #007092;
    color: #fff;
}
*/
